* { 
    padding: 0; margin: 0; 
}
html, body, .first {
    min-height: 100% !important;
    height: 100%;
}
.bar{background-color: rgba(0,0,0,0.4);
    width:100%;
    position:relative;
    
}

.first{
        background-image: url(ocean.jpg);
        height:100%;
}/*
.second{
    height:100%;
    background-image: url(fancy-pants.jpg);
    color:white;
   }
.third{height: 100%;
}
   */

.title{
        font-family: 'Roboto Slab', serif;
        color:#1779BA;
        font-size:1.25em;
}
.subtitle{   
        font-family: 'Raleway', sans-serif;
        color:white;
}
.create{
        font-family: 'Roboto Slab', serif;
        color:#1779BA; 
        text-align: center;
}

.brief{
        font-family: 'Raleway', sans-serif;
        color:white;
        font-size:1.25em;
        text-align: center;
}
.button-group{
    display:block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30em;
}

.group{
    margin-top: 17em;
   
}

